---
const titulo = 'Mi sitio Astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/acercaDe/">Acerca De</a>
		<a href="/blog/">Blog</a>
		<h1>{titulo}</h1>
        <h1>Acerca De</h1>
        <p>Este sitio es un blog creado con astro</p>
        <p>
            Hola, esta practica e spara mejorar los conceptos con astro y poner en practica
            todo lo aprendido de JavaScript, HTML y CSS. 
        </p>
	</body>
</html>